code, kbd, pre, samp {
    font-family: "Courier New" !important;
}
.nav.bs-sidenav>li.active{ background: #ddd;}
.nav.bs-sidenav>li{ padding-left: 0px !important;}
.nav.bs-sidenav>li.main{ padding-left: 0px;}
.nav.bs-sidenav>li.active{ background: none !important;}
.nav.bs-sidenav>li.active ul.nav-l2{ padding-left: 20px}
.nav.bs-sidenav>li.active>a{background:#e9f3ff !important;}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
}
.nav>li.active>a{ color: #3891f8}
.nav.bs-sidenav li a{ color: #666; font-size: 12px;}
.navbar-nav>li>a{ padding-top: 20px; padding-bottom: 20px}

.bs-sidebar.nav>li>a{ padding: 2px 20px;  }
.bs-sidebar .nav .nav{ margin-bottom: 0px !important;}
.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus ,.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a{ border-right: none !important;}
.bs-sidebar .nav > .active > a{ color: #3891f8}
.nav.bs-sidenav>li a{ font-size: 14px;}

pre, .rst-content tt{ background: #333;}
.hljs-comment, .diff .hljs-header, .hljs-javadoc{font-style: inherit !important;}
.well {
    min-height: 20px;
    padding: 0px 19px 40px !important;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    border: none;
    border-right: 1px solid #eee;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
    top:60px !important;
    transition: all ease .3s
}
.bs-sidebar.well {
    padding: 0;
    max-height: 100% !important;
    overflow-y: auto;
}
.bs-sidebar.well.show{
    top:0 !important;
}
.navbar.navbar-fixed-top{ transform: translateY(0); transition: all ease .3s}
.navbar.navbar-fixed-top.show{ transform: translateY(-60px);}
body {
    padding-top: 60px;
    background: none;
    background-attachment: fixed;
    background-color: #FFF;
}

.pagebody{ display: flex; }
.sidebar{
    width: 270px;
}
.wrap{
    max-width: 840px;
    margin-left: 50px;
}
.content {
    flex: 1;
    position: relative;
    padding: 2.2em 0;
}
.content img{ max-width: 100%;}
.content h2:nth-of-type(1){ margin-top: 0}
.bs-sidebar.affix-bottom, .bs-sidebar.affix {
    width: inherit;
}



h1{ font-size: 30px; color: #3891f8}
h2{ font-size: 24px; margin-top: 100px; color: #3891f8}
h3{ font-size: 18px; margin-top: 60px;}


code {
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px;
    border: none !important;
    background-color: #f9f2f4;
    border-radius: 2px;
}
#go-top{ position: fixed; bottom: 80px; right: 30px; width: 50px; height: 50px; background: #ccc; font-size:24px; text-align: center; color: #FFF; cursor: pointer; display: none; line-height: 50px;}
#go-top:hover,#back:hover{ background-color: #1995dc; text-decoration: none}

#back{ background: #ccc; color: #FFF; position: fixed; bottom: 25px; right: 30px; font-size: 12px; height: 50px; width: 50px; display: flex; justify-content: center; align-items: center }

.navbar{ background-image: none;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FFF !important;
}
.navbar {
    background-image: none;
    background-repeat: no-repeat;
    border-bottom: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb',endColorstr='#ff1d9ce5',GradientType=0);
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 !important;
}
.nav.navbar-nav>li.dropdown.active>a{ color: #3891f8 !important;}
.main-nav{ height: 60px; background-color: #FFF;  display: flex; align-items: center;     justify-content: space-between; padding: 0 25px; z-index: 5; box-shadow: 0 0 15px rgba(0,0,0,.3);  box-shadow: 0 0 15px rgba(0,0,0,.1) !important;
    position: relative;}
.main-nav a{ color: #666}

.code-title{ font-size: 18px; margin-top: 20px; padding-left: 20px;}



/*首页*/
.header{ min-height: 300px; background-color:#262b2e; margin-bottom: 30px;}
.header .container{ display: flex; align-items: center; color:#FFF; justify-content: center; flex-direction: column; min-height: 300px;}
.tagline{ margin-bottom: 20px;}
.tagline p{ margin-bottom: 0}
.header .logo{ color: #FFF; margin-top: 0}
.cards-section .container h2.title{ margin-top: 40px;}
.cards-section .container .intro{ max-width: 600px; margin: 0 auto;}
.cards-section .item {
    margin-bottom: 30px;
}
.cards-section .item .icon-holder {
    margin-bottom: 15px;
}
.cards-section .item .icon {
    font-size: 36px;
}

.cards-section .item .title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}
.cards-section .item .intro {
    margin-bottom: 15px;
}
.cards-section .item-inner {
    min-height: 495px;
    box-sizing: border-box;
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.cards-section .item-inner .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../images/empty.gif");
    /* for IE8 */
}
.cards-section .item-blue .item-inner {
    border-top: 3px solid #58bbee;
}

/* useful links */
ul.links{}
ul.links li, ul.social_icon li, .widget .tags > li, .commment li{
    display: inline-block;
}
ul.links li {
    width: 49%;
    margin-top: 20px;
}
ul.links li a{
    color: #000000;
    margin-bottom:15px;
    margin-left: 15px;
    display:inline-block;
}
ul.links li a, ul.bullet_list li{
    font-size: 14px;
}
ul.links li a > i {
    display: inline-table;
    margin-right: 5px;
    vertical-align: middle;
    width: 10px;
    margin-left: -10px;
}
.languageType {
    background-image: url(../img/icons.png);
    display:inline-block;
    width:24px;
    height:24px;
    background-size: 28px;
    margin-right: 4px;
    vertical-align : middle;
}
.cards-section .item-inner {
    padding: 20px;
}

.icon{ width: 90px; height: 90px; display: block; margin: 0 auto; }
.icon.o1{ background:url("../img/1.png")}
.icon.o2{ background:url("../img/2.png")}
.icon.o3{ background:url("../img/3.png")}
.icon.o4{ background:url("../img/4.png")}
.icon.o5{ background:url("../img/5.png")}
.icon.o6{ background:url("../img/6.png")}
.icon.o7{ background:url("../img/7.png")}

#main404 {
    text-align: center;
    margin: 0 auto;
    display: block;
}