@import url("https://highlightjs.org/static/demo/styles/gruvbox-light.css");
/*@import url("https://highlightjs.org/static/demo/styles/solarized-dark.css");*/
/*@import url("https://highlightjs.org/static/demo/styles/darkula.css");

@import url("https://highlightjs.org/static/demo/styles/atelier-sulphurpool-dark.css");*/

code, kbd, pre, samp {
    font-family: Monaco !important;
}
.nav.bs-sidenav>li.active{ background: #ddd;}
.nav.bs-sidenav>li{ padding-left: 20px;}
.nav.bs-sidenav>li.main{ padding-left: 0px;}
pre, .rst-content tt{ background: #fbf1c7;}
